*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* header */
header{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
}

.head-row{
    /* background-color: white;
    border: 1px solid black; */
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.head-row a{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.head-row a:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.logo-small{
    height: 25px;
}

.button{
    padding: 5px 10px;
    background-color: #0061FF;
    border: none;
    color: white;
    transition: all 1s ease-in-out;
}

.button:hover{
    background-color: blueviolet;
    text-decoration: underline;
}

.menu{
    position: relative;
}

.sub-menu{
    position: absolute;
    top: 40px;
    left: 0;
    list-style-type: none;
    border: 2px solid blue;
    background-color: #0061FF;
    color: white;
    border-bottom: none;
    min-width: 250px;
    display: none;
}

.menu:hover .sub-menu{
    display: block;
    top: 30px;
}

.sub-menu li{
    border-bottom: 2px solid blue;
    padding: 10px 30px;
}

.sub-menu li:hover{
    background-color: #0093CE;
}


/* jumbotron */
.jumbotron{
    background-color: #B4D0E7;
    padding-top: 100px;
    margin-bottom: 50px;
    max-height: 600px;
}

.jumbo-row{
    width: 70%;
    margin: auto;   
    display: flex; 
}

.jumbo{
    min-height: 100px;
}

.jumbo.left{
    width: 30%;
}

.jumbo.left p, .jumbo.left input, .jumbo.left a{
    display: block;
    margin-bottom: 20px;
}

.jumbo.left span{
    display: block;
    margin-bottom: 40px;
}

.jumbo.right{
    width: 70%;
}

#jumbo-img{
    max-height: 400px;
}

.jumbo-title{
    width: 70%;
    margin: auto;
}

.jumbo-title h1{
    font-size: 55px;
    padding-right: 350px;
    padding-bottom: 30px;
}

/* corpo centrale */

/* prima sezione */
.prima-section{
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 100px;
}

.prima-title h2{
    padding-bottom: 30px;
    font-size: 35px;
}

.taste{
    margin-bottom: 30px;
}

.prima-row{
    display: flex;
}

.list-container{
    height: 200px;
}

.prima.left, .prima.center, .prima.right{
    width: calc(100%/3);
    min-height: 300px;
    border: 1px solid black;
}

.prima.center{
    margin: 0 20px;
}

.subtitle-left{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.subtitle-left2{
    margin: 20px;
}

.prima.left span, .prima.center span, .prima.right span{
    display: block;
    padding-bottom: 10px;
}

.prima h3, .prima {
    padding-bottom: 20px;
}

.text-opacity{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

li{
    padding-bottom: 20px;
}

.list{
    padding-left: 20px;
}

.button.center{
    padding: 15px 0;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
}

.span-link{
    margin-bottom: 40px;
}

.short{
    width:  100px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 40px;
}


/* seconda sezione */
.seconda-section{
    width: 70%;
    min-height: 150px;
    margin: auto;
    margin-bottom: 100px;
}

.subtitle-seconda{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.seconda-row{
    display: flex;
    border: 1px solid black;
    border-top: none;
}

.seconda.left, .seconda.right{
    margin: 30px 20px;
}

.seconda.left h3{
    padding-bottom: 20px;
}

.seconda.left h4{
    padding-bottom: 50px;
}

.seconda.left{
    width: 70%;
}

.seconda.right{
    width: 30%;
}

/* terza sezione */
.terza-section{
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
    min-height: 100px;
    display: flex;
}

.terza.left{
    min-height: 300px;
    width: 70%;
}

.terza-img{
    max-width: 100%;
    display: block;
}

.terza.right{
    min-height: 300px;
    width: 30%;
}

.terza.right{
    padding: 100px 20px;
}

.terza.right h3, .terza.right p{
    padding-bottom: 20px;
}

.button.white{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all 2s ease-in-out;
}

.button.white:hover{
    background-color: orange;
    border: 1px solid green;
    color: black;
}

/* quarta sezione */
.quarta-section{
    width: 70%;
    min-height: 150px;
    margin: auto;
    margin-bottom: 100px;
}

.quarta-title{
    margin-bottom: 30px;
}

.quarta-row{
    display: flex;
    flex-wrap: wrap;
}

.quarta-sons{
    width: calc(100%/3 - 20px);
    min-height: 250px;  
    margin: auto; 
    margin-bottom: 30px; 
}

.quarta-sons.center{
    margin-left: 20px;
    margin-right: 20px;
}

.quarta-img{
    width: 100%;
}

.quarta-sons img, .quarta-sons h3{
    padding-bottom: 10px;
}

/* quinta sezione */
.quinta-section{
    width: 70%;
    min-height: 50px;
    margin: auto;
    margin-bottom: 100px;
    padding-right: 650px;
}

.quinta-section h2{
    padding-bottom: 50px;
}

/* sesta sezione */
.sesta-section{
    min-height: 100px;
    margin-bottom: 100px;
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
}

/* primo contenitore */
.sesta-row{
    display: flex;
}

.sesta.left, .sesta.right, .sesta.center{
    /* background-color: blue; */
    border: 1px solid black;
    width: calc(100%/3);
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.sesta.left div, .sesta.right div{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

.sesta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sesta-img{
    max-width: 200px;
    padding: 20px;
}

.sesta-container.design{
    background-color: #A2D39B;
}

.sesta-container.arizona{
    background-color: #61082B;
}

.sesta-container.florida{
    background-color: #0093CE;
}

.sesta-container.toops{
    background-color: #FF1C1C;
}

.sesta-container.world{
    background-color: #D5001F;
}

.sesta-container.hearts{
    background-color: #B4D0E7;
}

.sesta-container.lonely{
    background-color: #0D2481;
}

.sesta-container.clear{
    background-color: #FFD830;
}

/* center */


/* secondo contenitore */
.sesta-row2{
    display: flex;
    justify-content: center;
    background-color: #B4D0E7;
}

.sesta2.left, .sesta2.right{
    width: 25%;
}

.sesta2.left{
    padding-right: 100px;
    margin: 50px;
    color: #61082B;
}

.button.white.sesta{
    margin: 50px 0;
    padding: 10px 50px;
}

/* settima sezione */
.settima-section{
    width: 70%;
    /* min-height: 150px; */
    margin: auto;
    margin-top: 30px;
}

.settima-section h3{
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.sette-container{
    display: flex;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.sette-col.left{
    width: 90%;
}

.sette-col.right{
    width: 10%;
    text-align: center;
}


/* footer */
footer{
    margin-top: 100px;
    background-color: black;
}

.foot-row{
    width: 80%;
    min-height: 150px;
    margin: auto;
    display: flex;
}

.foot-row div{
    width: calc(100%/5);
    margin-top: 100px;
    margin-bottom: 50px;
}

.foot-closing{
    width: 80%;
    height: 70px;
    margin: auto;
    color: white;
}

.footer-list{
    list-style-type: none;
}

.footer-list li{
    line-height: 70%;
    color: white;
}

.list-title-foot{
    margin-bottom: 20px;
}

.short.footer{
    margin: 0;
    margin-bottom: 30px;
}