*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: grey; */
}

/* header */
header{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
}

.head-row{
    /* background-color: white;
    border: 1px solid black; */
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.head-row a{
    color: black;
    text-decoration: none;
}

.head-row a:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.logo-small{
    height: 25px;
}

.button{
    padding: 5px 10px;
    background-color: #0061FF;
    border: none;
    color: white;
    transition: all 1s ease-in-out;
}

.button:hover{
    background-color: blueviolet;
    text-decoration: underline;
}

/* jumbotron */
.jumbotron{
    background-color: #B4D0E7;
    padding-top: 100px;
}

.jumbo-row{
    width: 70%;
    margin: auto;   
    display: flex; 
}

.jumbo{
    min-height: 100px;
}

.jumbo.left{
    width: 30%;
}

.jumbo.left p, .jumbo.left input, .jumbo.left a{
    display: block;
    margin-bottom: 20px;
}

.jumbo.left span{
    display: block;
    margin-bottom: 40px;
}

.jumbo.right{
    width: 70%;
}

#jumbo-img{
    max-height: 350px;
}

.jumbo-title{
    width: 70%;
    margin: auto;
}

.jumbo-title h1{
    font-size: 55px;
    padding-right: 350px;
    padding-bottom: 30px;
}

/* corpo centrale */

/* prima sezione */
.prima-section{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.prima-title h2{
    padding-bottom: 30px;
    font-size: 35px;
}

.taste{
    margin-bottom: 30px;
}

.prima-row{
    display: flex;
}

.list-container{
    height: 200px;
}

.prima.left, .prima.center, .prima.right{
    width: calc(100%/3);
    min-height: 300px;
    /* background-color: green; */
    border: 1px solid black;
}

.prima.center{
    margin: 0 20px;
}

.subtitle-left{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.subtitle-left2{
    margin: 20px;
}

.prima.left span, .prima.center span, .prima.right span{
    display: block;
    padding-bottom: 10px;
}

.prima h3, .prima {
    padding-bottom: 20px;
}

.text-opacity{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

li{
    padding-bottom: 20px;
}

.list{
    padding-left: 20px;
}

.button.center{
    padding: 15px 0;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
}

.span-link{
    margin-bottom: 40px;
}

.short{
    width:  100px;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 40px;
}


/* seconda sezione */
.seconda-section{
    width: 70%;
    min-height: 150px;
    margin: auto;
    margin-top: 30px;
}

.subtitle-seconda{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.seconda-row{
    display: flex;
    border: 1px solid black;
}

.seconda.left, .seconda.right{
    margin: 30px 20px;
}

.seconda.left h3{
    padding-bottom: 20px;
}

.seconda.left h4{
    padding-bottom: 50px;
}

.seconda.left{
    width: 70%;
}

.seconda.right{
    width: 30%;
}

/* terza sezione */
.terza-section{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    min-height: 100px;
    display: flex;
}

.terza.left{
    min-height: 300px;
    width: 70%;
}

.terza-img{
    max-width: 100%;
    display: block;
}

.terza.right{
    min-height: 300px;
    width: 30%;
}

.terza.right{
    padding: 100px 20px;
}

.terza.right h3, .terza.right p{
    padding-bottom: 20px;
}

.button.white{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* quarta sezione */
.quarta-section{
    width: 70%;
    min-height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: blueviolet;
    border: 1px solid black;
}

.quarta-title{
    background-color: green;
    border: 1px solid black;
}

.quarta-row{
    display: flex;
    flex-wrap: wrap;
}

.quarta-sons{
    background-color: blue;
    border: 1px solid black;
    width: calc(100%/3);
    height: 250px;
}

/* quinta sezione */
.quinta-section{
    width: 70%;
    min-height: 50px;
    margin: auto;
    margin-top: 30px;
    background-color: blueviolet;
    border: 1px solid black;
}

/* sesta sezione */
.sesta-section{
    min-height: 100px;
    margin-top: 30px;
    background-color: blueviolet;
    border: 1px solid black;
}

/* primo contenitore */
.sesta-row{
    display: flex;
}

.sesta.left, .sesta.right, .sesta.center{
    background-color: blue;
    border: 1px solid black;
    width: calc(100%/3);
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.sesta.left div, .sesta.right div{
    width: 50%;
    height: 50%;
    background-color: orange;
    border: 1px solid black;
}

/* secondo contenitore */
.sesta-row2{
    background-color: blueviolet;
    min-height: 100px;
    display: flex;
    justify-content: center;
}

.sesta2.left, .sesta2.right{
    width: 30%;
    height: 200px;
    background-color: green;
    border: 1px solid black;
}

/* settima sezione */
.settima-section{
    width: 70%;
    min-height: 150px;
    margin: auto;
    margin-top: 30px;
    background-color: blueviolet;
    border: 1px solid black;
}

.settima-section div{
    background-color: orange;
    height: 100px;
    border: 1px solid black;
}

/* footer */
footer{
    border: 2px solid red;
    margin-top: 30px;
}

.foot-row{
    width: 80%;
    min-height: 150px;
    margin: auto;
    background-color: blueviolet;
    border: 1px solid black;
    display: flex;
}

.foot-row div{
    background-color: green;
    border: 1px solid black;
    height: 250px;
    width: calc(100%/5);
}

.foot-closing{
    background-color: blueviolet;
    border: 1px solid black;
    height: 100px;
    width: 80%;
    margin: auto;
}